List of contents:
1. Import libraries
2. Import pkl file
3. Security implications check: remove PII
4. Exclusion flag: data sample, export of sample
5. Data derivation
6. Export pkl file

1. Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

2. Import pkl file

In [3]:
df_ords_prods_custs = pd.read_pickle(r'C:\Users\court\Instacart Basket Analysis\02 Data\Prepared Data\orders_products_all.pkl')

In [3]:
# Create path
path = r'C:\Users\court\Instacart Basket Analysis'

In [4]:
path

'C:\\Users\\court\\Instacart Basket Analysis'

3. Check for security implications

In [6]:
# Remove columns containing PII data
df_final = df_ords_prods_custs.drop(columns = ['first_name', 'last_name'])

In [7]:
#View data for PII data
df_final.head()

,user_id,gender,state,age,date_joined,number_of_dependants,family_status,income,product_id,product_name,...,price_range_loc,busiest_day,busiest_day_loc,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days,frequency_flag
0,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer
1,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,Mid-range product,Regularly busy,NaN,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer
2,26711,Female,Missouri,48,1/1/2017,3,married,165665,196,Soda,...,Mid-range product,Regularly busy,Busiest days,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer
3,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,Low-range product,Regularly busy,NaN,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer
4,26711,Female,Missouri,48,1/1/2017,3,married,165665,6184,Clementines,...,Low-range product,Regularly busy,NaN,Average orders,8,New customer,7.988889,Low spender,19.0,Regular customer

4. Exclusion flag

In [15]:
# Mark customers with less than 5 orders as missing values
df_final.loc[df_final['max_order'] <5, 'max_order'] = np.nan

In [16]:
# Check newest minimal order amount
df_final['max_order'].min()

5.0

In [17]:
# View missing values
df_nan = df_final[df_final['max_order'].isnull() == True]

In [18]:
df_nan

,user_id,gender,state,age,date_joined,number_of_dependants,family_status,income,product_id,product_name,...,busiest_day,busiest_day_loc,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days,frequency_flag,region
729,168851,Male,South Carolina,30,1/1/2017,0,single,63712,102,Danish Butter Cookies,...,Regularly busy,NaN,Average orders,NaN,New customer,7.485714,Low spender,20.5,Non-frequent customer,South
730,168851,Male,South Carolina,30,1/1/2017,0,single,63712,130,Vanilla Milk Chocolate Almond Ice Cream Bars M...,...,Regularly busy,NaN,Average orders,NaN,New customer,7.485714,Low spender,20.5,Non-frequent customer,South
731,168851,Male,South Carolina,30,1/1/2017,0,single,63712,130,Vanilla Milk Chocolate Almond Ice Cream Bars M...,...,Regularly busy,Slowest days,Average orders,NaN,New customer,7.485714,Low spender,20.5,Non-frequent customer,South
732,168851,Male,South Carolina,30,1/1/2017,0,single,63712,130,Vanilla Milk Chocolate Almond Ice Cream Bars M...,...,Regularly busy,Busiest days,Average orders,NaN,New customer,7.485714,Low spender,20.5,Non-frequent customer,South
733,168851,Male,South Carolina,30,1/1/2017,0,single,63712,196,Soda,...,Regularly busy,NaN,Average orders,NaN,New customer,7.485714,Low spender,20.5,Non-frequent customer,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32404854,80148,Female,New York,55,4/1/2020,1,married,57095,38750,"Protein Bar, Chocolate Pretzel",...,Regularly busy,NaN,Average orders,NaN,New customer,3.886667,Low spender,12.0,Regular customer,Northeast
32404855,80148,Female,New York,55,4/1/2020,1,married,57095,39069,Chocolate Coconut Almond Protein Bar,...,Regularly busy,NaN,Average orders,NaN,New customer,3.886667,Low spender,12.0,Regular customer,Northeast
32404856,80148,Female,New York,55,4/1/2020,1,married,57095,39972,Chocolate Fudge High Protein Bar,...,Regularly busy,NaN,Average orders,NaN,New customer,3.886667,Low spender,12.0,Regular customer,Northeast
32404857,80148,Female,New York,55,4/1/2020,1,married,57095,41427,Cookies 'N Cream Protein Bar,...,Regularly busy,NaN,Average orders,NaN,New customer,3.886667,Low spender,12.0,Regular customer,Northeast
32404858,80148,Female,New York,55,4/1/2020,1,married,57095,48335,Chocolate Brownie Energy Bar,...,Regularly busy,NaN,Average orders,NaN,New customer,3.886667,Low spender,12.0,Regular customer,Northeast

In [19]:
# Count how many 'max_orders' having missing values
df_nan['max_order'].value_counts(dropna = False)

NaN    1440295
Name: max_order, dtype: int64

In [20]:
# Find number of rows in original df
df_final.shape

(32404859, 33)

In [21]:
# Create new dataframe filtering out missing values
df_final_clean = df_final[df_final['max_order'].isnull() == False]

In [22]:
# Check number of rows in df
df_final_clean.shape

(30964564, 33)

In [23]:
# Make sample of df_final_clean
np.random.seed(4)

In [24]:
dev = np.random.rand(len(df_final_clean)) <=0.7

In [25]:
# Make big df with 70% of data
big = df_final_clean[dev]

In [26]:
# Make small df with 30% of data
small = df_final_clean[~dev]

In [27]:
# Check number of rows and columns 
len(df_final_clean)

30964564

In [28]:
len(big) + len(small)

30964564

In [29]:
# Export sample of df_final_clean as pkl
small.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'data_without_low_activity_customers.pkl'))

5. Data derivation

In [8]:
# Assign states to regions
df_final.loc[df_final['state'].isin(['Maine', 'New Hampshire', 'Vermont', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New York', 'Pennsylvania', 'New Jersey']), 'region'] = 'Northeast'

In [9]:
df_final.loc[df_final['state'].isin(['Wisconsin', 'Michigan', 'Illinois', 'Indiana', 'Ohio', 'North Dakota', 'South Dakota', 'Nebraska', 'Kansas', 'Minnesota', 'Iowa', 'Missouri']), 'region'] = 'Midwest'

In [10]:
df_final.loc[df_final['state'].isin(['Delaware', 'Maryland', 'District of Columbia', 'Virginia', 'West Virginia', 'North Carolina', 'South Carolina', 'Georgia', 'Florida', 'Kentucky', 'Tennessee', 'Mississippi', 'Alabama', 'Oklahoma', 'Texas', 'Arkansas', 'Lousiana']), 'region'] = 'South'

In [11]:
df_final.loc[df_final['state'].isin(['Idaho', 'Montana', 'Wyoming', 'Nevada', 'Utah', 'Colorado', 'Arizona', 'New Mexico', 'Alaska', 'Washington', 'Oregon', 'California', 'Hawaii']), 'region'] = 'West'

In [12]:
# View frequency counts
df_final['region'].value_counts(dropna = False)

South        10154403
West          8292913
Midwest       7597325
Northeast     5722736
NaN            637482
Name: region, dtype: int64

In [13]:
# Crosstab to further analyze data of regions and spending habits
crosstab = pd.crosstab(df_final['region'], df_final['spending_flag'], dropna = False)

In [14]:
crosstab.to_clipboard()

In [30]:
# Assign flags to different demographics

def customer_age(row):

  if row['age'] <= 39:
    return 'Young adults'
  elif (row['age'] > 39) and (row['age'] <= 64):
    return 'Middle age adults'
  elif row['age'] > 64:
    return 'Older adults'
  else: return 'Not enough data'

In [31]:
# Apply the function
small['age_group'] = small.apply(customer_age, axis=1)

<ipython-input-31-fb8f29dee031>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small['age_group'] = small.apply(customer_age, axis=1)

In [32]:
# Check frequency
small['age_group'].value_counts(dropna = False)

Middle age adults    3630528
Young adults         3200238
Older adults         2457702
Name: age_group, dtype: int64

In [36]:
# Define function for multiple customer characteristics

def characteristics_label(row):

  if (row['number_of_dependants'] <= 0) and (row['family_status'] == 'single'):
    return 'Single adult'
  elif (row['number_of_dependants'] == 1) and (row['family_status'] == 'married'):
    return 'Couple with no kids'
  elif (row['number_of_dependants'] <= 0) and (row['family_status'] == 'divorced/widowed'):
    return 'Other single adult'
  elif (row['number_of_dependants'] <= 0) and (row['family_status'] == 'living with parents and siblings'):
    return 'Single adult still living with parents'
  elif (row['number_of_dependants'] > 1) and (row['age'] > 40):
    return 'Older parents'
  elif (row['number_of_dependants'] > 1) and (row['age'] < 40):
    return 'Younger parents'
  else: return 'Other'

In [37]:
# Apply the function
small['unique_customers'] = small.apply(characteristics_label, axis=1)

<ipython-input-37-12f860e90ed9>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  small['unique_customers'] = small.apply(characteristics_label, axis=1)

In [38]:
# Check frequency
small['unique_customers'].value_counts(dropna = False)

Older parents          2977371
Couple with no kids    2161406
Younger parents        1604677
Single adult           1527957
Other single adult      793180
Other                   223877
Name: unique_customers, dtype: int64

6. Export pkl file

In [39]:
# Export small as pkl for further analysis
small.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_all.pkl'))